.resizeHandle{
    display:none;
    position:absolute;
    width:8px;
    height:8px;
    border:1px solid #2699ff;
    background-color: #fff;
    transform:translate(-50%, -50%);
}
.selected .resizeHandle{display:block;z-index:1;}
.resizeHandle.nw{ cursor:nw-resize;}
.resizeHandle.n{cursor:n-resize;}
.resizeHandle.ne{cursor:ne-resize;}
.resizeHandle.w{cursor:w-resize;}
.resizeHandle.e{cursor:e-resize;}
.resizeHandle.sw{cursor:sw-resize;}
.resizeHandle.s{cursor:s-resize;}
.resizeHandle.se{cursor:se-resize;}

.outline{
    position:absolute;
    background-color: #2699ff;
}
.outline.left, .outline.right{
    width:.5px;
}
.outline.top, .outline.bottom{
   height:.5px;
}
.contextMenuContainer{
    position:fixed;
    
    padding:5px 0px;

    width:150px;

    background-color: #f9f9fa;

    border:1px solid #343434;
    border-radius: 3px;

    color:#343434;
    font-size:0.8rem;

    box-shadow: 0px 3px 10px 2px #34343444;
    z-index:50;
}

.contextMenuContainer div{
    display:flex;
    align-items: center;
    justify-content: space-between;
    
    padding:3px 5px;
}

.contextMenuContainer div:not(.deactivate):hover{
    background-color: #bce0fd;
}
.contextMenuContainer div.deactivate{
    opacity: 0.5;
}

.contextMenuContainer div small{
    color:#343434cc;
}
.contextMenuContainer div>*{
    pointer-events: none;
}

.updateParentArea{
    padding:10px;
    position:absolute;

    background-color: #343434;
    border-radius: 5px;
    border: solid 1px #fff;
    z-index: 10;

    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.hoverArea{
    display:flex;
    justify-content: center;
    align-items: center; 

    position:relative;
    background-color: #777;
    color:#777;
    width:100px;
    height:30px;
    border-radius: 5px;
    font-size: 0.8rem;
    font-weight: 700;
    transition: 0.5s;
    overflow: hidden;

    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
 
}
.updateParentArea>span{
    color:#efefef;
}

.hoverArea:hover{
    background-color: #fff;
    color:#343434
}


    /* background-color: #2a2a30;
    color:#fff;
    opacity:0.8;
    border-radius: 5px;
    border:1px solid #fff;

    font-size: 0.8rem;
    z-index: 10;
    overflow: hidden;
    cursor:default;
}*/



.innerText {
    display: inline-block;
    width: auto;
    height: auto;
    outline: 0;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    white-space: pre-wrap;
} 

.innerText:focus {
    cursor: text;
}

.hover {
    position: absolute;
    left: 0;
    top: 0;
    background: #343434;
    opacity: 0.5;
    width: 100%;
    height: 100%;
    z-index: 3;
}
.xGuide {
    position: absolute;
    height: 1px;
    background: turquoise;
}

.yGuide {
    position: absolute;
    width: 1px;
    background: turquoise;
}

.nearCursor {
    position: absolute;
    background: black;
}

.nearCursor.bottom {
    bottom: 0px;
    width: 100%;
    height: 3px;
}

.nearCursor.top {
    top: 0px;
    width: 100%;
    height: 3px;
}
.nearCursor.left {
    top: 0px;
    left: 0px;
    width: 3px;
    height: 100%;
}

.nearCursor.right {
    top: 0px;
    right: 0px;
    width: 3px;
    height: 100%;
}

